body {
    font-size: 10pt !important;
}

.box-left {
    border-right: solid 1px #ddd;
    height: 360px;
    background-color: #fefefe;
    padding-left: 25px;
    padding-top: 25px;
}

.box-right {
    padding-top: 25px;
}

.list-host {
    height: 310px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.list-host ul {
    list-style: none;
}

.list-host li {
    border-bottom: solid 1px #ddd;
}

#list_host {
    padding: 0;
}

#list_host li a {
    padding: 10px !important;
    display: block;
    text-decoration: none;
    color: #222;
    cursor: default;
}

#list_host li span {
    margin-right: 10px;
}

#list_host li a:hover {
    background-color: #efefef;
}

#detalhes {
    background-color: #222222;
    width: 100%;
    color: #dddddd;
    font-family: monospace;
    padding: 10px;
    border: solid 1px #ddd;
}

input {
    margin-bottom: 10px;
}

.button-active {
    border: 1px solid #25729a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3093c7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button-active:hover {
    border: 1px solid #1c5675;
    background-color: #26759e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(to bottom, #26759e, #133d5b);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#26759e, endColorstr=#133d5b);
}

.button_cancel {
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #d3d3d3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(to bottom, #d3d3d3, #707070);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d3d3d3, endColorstr=#707070);
}

.button_cancel:hover {
    border: 1px solid #a0a0a0;
    background-color: #bababa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
    background-image: -webkit-linear-gradient(top, #bababa, #575757);
    background-image: -moz-linear-gradient(top, #bababa, #575757);
    background-image: -ms-linear-gradient(top, #bababa, #575757);
    background-image: -o-linear-gradient(top, #bababa, #575757);
    background-image: linear-gradient(to bottom, #bababa, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#bababa, endColorstr=#575757);
}